<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>
        <div class="wrapper">
            <header>
                <a class="home" href="/"><img src="/images/logo_macaw_extrasmall.png" class="logo"></a>

                <nav>
                    <a href="#home">Home</a>
                    {% for chapter in site.1_0 %}
                        <a href="#{{ chapter.href }}">{{ chapter.title }}</a>
                    {% endfor %}
                    <a href="#discuss">Discuss</a>
                </nav>

            </header>

            <section>
                {% include home.html %}

                <!-- Include all chapters from 1.0 -->
                {% for chapter in site.1_0 %}
                    {{ chapter.content }}
                {% endfor %}

            </section>
        </div>
    </body>

</html>
