<!DOCTYPE html>
<html>

  <head>
    <title>Pyblish | Plug-in driven automation framework for content</title>
    {% include head.html %}
  </head>

  <body>
    <div class="wrapper">
      <header>
        <a class="home" href="/"><img src="/images/pyblish-logo-64.png" class="logo"></a>

        <nav>
          <a href="/">Home</a>
          <a href="http://learn.pyblish.com">Learn</a>
          <a href="http://api.pyblish.com">API</a>
          <a href="http://forums.pyblish.com">Forums</a>
          <a href="https://gitter.im/pyblish/pyblish">Chat</a>
        </nav>

      </header>

      <section>
        {% for chapter in site.chapters %}
          {% if chapter.draft %}{% else %}
            {{ chapter.content }}
          {% endif %}
        {% endfor %}
      </section>
    </div>
  </body>

</html>
