<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        <div class="wrapper">
            {% include header.html %}
            <section>
                {% include home.html %}

                {% for post in site.posts reversed %}
                    {% if post.draft %}{% else %}
                        {{ post.content }}
                        
                        <!-- <div class="modified">Last modified {{ post.last_modified }}.</div> -->

                    {% endif %}
                {% endfor %}

                {% include disqus.html %}
            </section>
        </div>
    </body>

</html>
